.env

l2-guidelines.ipynb
l3-iterative-prompt-development.ipynb
l4-summarizing.ipynb
l5-inferring.ipynb
l6-transforming.ipynb
l7-expanding.ipynb
l8-chatbot.ipynb

L1 Language Models, the Chat Format and Tokens.ipynb
L2_Evaluate_ Inputs_Classification.ipynb
L3_Evaluate_Inputs_ Moderation.ipynb
L4_Including_Chain_of_Thought_Reasoning.ipynb
